.like-button {
  display: flex;
  overflow-y: hidden;
  .icon {
    margin-left: 10px;
    height: 70px;
    width: 40px;
    overflow-y: hidden;
    position: relative;


    &.liked {
      //实心的
      .thumb {
        top: 16px;
      }

      //空的
      .dianzan {
        top: -40px;
      }
    }

    .thumb{
      transition:top 200ms;
      top: 70px;
      position: absolute;
    }

    .dianzan{
      transition:top 200ms;
      top: 16px;
      position: absolute;
    }

    .icon-thumb {
      font-size: 30px;
    }

    .icon-dianzan {
      font-size: 30px;
    }
  }

  .count {
    font-size: 30px;
    font-weight: bold;
  }
}
