@import "../../../src/style/base";

.plant-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .plant-card-img{
    height: auto;
    width: 100%;
    transition: 0.2s;
  }
  .plant-details{
    margin-top: 1.5rem;
    .plant-name{
      font-size: 2rem;
      text-align: center;
      color: #125749;
      font-weight: bolder;
    }
    .plant-description{
      margin-top: 1.5rem;
      width: 100%;
      height: auto;
      font-size: 1.3rem;
      text-align: center;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    .plant-instance{
    }
  }
}





