.plants-list{
  .plant-item{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    //margin-top: 0.2rem;
    border-bottom: 0.1rem dashed grey;
    background-color: #f6f6f6;

    .brief-plant-card{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      //border-right: 0.1rem dashed grey;
      transition: 0.25s linear;

      .plant-img{
        height: 6rem;
        width: 6rem;
      }

      .plant-description{
        height: auto;
        width: 11rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;

        font-size: 1rem;
        .plant-name{
          padding-left: 0.5rem;
        }
        .plant-more{
          padding-top: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          button svg{
            height: 2rem;
            width: 2rem;
          }
          .like{
            padding-top: 0.5rem;
          }
        }
      }
    }
    .plant-vr{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
    }
  }
}
