.like-button{
  height: 3rem;
  width: 3rem;
  .icon{
    margin: auto;
    transition: 0.55s ease-in-out;
  }
  .icon:active{
    transform: scale(0.9);
  }
  .active{
    transition: 0.55s;
    fill:rgb(229, 64, 79);
  }
}
