.like-button{
  height: 1.5rem;
  width: 1.5rem;
  .icon{
    margin: auto;
    transition: 0.25s ease-in-out;
  }
  .like-button-icon:active{
    transform: scale(0.9);
  }
  .active{
    transition: 0.25s;
    fill:rgb(229, 64, 79);
  }
}
