$colorAccent: rgba(127, 255, 212, 0.6);
$colorAccentDark: #7fffd4;

$colorText: #0c343d;
$colorTextAccent: #cc0000;
$colorTextSecondary: #1c4587;

$colorGrayLight: rgb(249, 249, 249);
$colorGray: rgb(232, 232, 232);
$colorGrayDarker: rgb(223, 223, 223);
$colorGrayMuchDarker: rgb(201, 201, 201);

$colorGrayLightTransparent: rgba(249, 249, 249, 0.5);
$colorGrayTransparent: rgba(232, 232, 232, 0.7);
$colorGrayDarkerTransparent: rgba(223, 223, 223, 0.5);
$colorGrayMuchDarkerTransparent: rgba(201, 201, 201, 0.5);

$colorGraySuperTransparent: rgba(156, 156, 156, 0.33);

$colorPrimary: #7fffd4;
$colorPrimaryLight: #b5ffff;
$colorPrimaryDark: #47cba3;
$textOnPrimary: black;

$colorSecondary: #0c343d;
$colorSecondaryLight: #395e67;
$colorSecondary: #000e17;
$textOnSecondary: white;

$colorBlueGray: #cfd8dc;
$colorBlueGrayLight: white;
$colorBlueGrayDark: #9ea7aa;

$colorGray: #f5f5f5;
$colorGrayLight: white;
$colorGrayDark: #c2c2c2;


$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
