@import "src/style/base";

.illustration {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(229,223,223,0.36);
  .services {
    height: 5rem;
    width: 95%;
    z-index: 100;
    margin: auto;

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu::before:active{
      transform: scale(0.95);
      transition: 0.2s;
    }

    svg {
      margin-top: 0.75rem;
      width: 3.5rem;
      height: 3.5rem;
      fill: #9ea7aa;
    }
  }
  .swiper-slide{
    img {
      width: 90%;
      height: 40rem;
      margin: auto;
      margin-top: 8rem;
      border-radius: 0.5rem;
      object-fit: cover;
      z-index: -1;
    }
  }
}


