body {
  overscroll-behavior-y: contain;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Segoe UI', SegoeUI, PingFang SC, 'Microsoft YaHei', Arial, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
}

@import "style/base";
@import "~tailwindcss/dist/base.min.css";
@import "~tailwindcss/dist/components.min.css";
@import "~tailwindcss/dist/tailwind.min.css";
@import "~tailwindcss/dist/utilities.min.css";

.app-content {
  height: 100%;
  @include flex-center();
}


.switch-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.switch-wrapper > div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;

  .loading-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: 200ms opacity;

    &.loading {
      transform: scale(1.5);
    }
  }


}
